{{ define "main" }}
<main class="home-section">

  <section class="hero">
    <h1 class="hero-title">hogusource codes</h1>
    <p class="subtitle">Always, Chill Out.</p>
  </section>

  <section class="about">
    <h2>このサイトについて</h2>
    <p class="desc">
      当サイトは、個人の制作物やメモ、技術的な記事などをまとめたポートフォリオサイトです。<br>  
      日々の突拍子もない話題や制作過程を記録しながら、「創ること」を楽しむための場所にしていきます。
    </p>
    <section class="design-history">
      <h2>でざいんのれきし</h2>
      <p>hogusource の歴代デザインはこちらから。</p>
      <a href="/article/design/" class="design-link">→ 見てみる</a>
    </section>

  </section>

  <section class="nav-guide">
    <h2>各ページのご案内</h2>
    <div class="nav-grid">
      <a href="/article/" class="nav-card">
        <h3>Article</h3>
        <p>制作メモや技術的な記事、思い浮かんだことなどを投稿しています。</p>
      </a>

      <a href="/works/" class="nav-card">
        <h3>Works</h3>
        <p>作成した壁紙やアイコン、その他の作品を展示しています。</p>
      </a>

      <a href="/links/" class="nav-card">
        <h3>Links</h3>
        <p>関連サイトやSNS、お気に入りのサイトへのリンク集です。</p>
      </a>

      <a href="/author/" class="nav-card">
        <h3>Author</h3>
        <p>管理人についての紹介や環境などを掲載しています。</p>
      </a>
    
      <a href="/contact/" class="nav-card">
      <h3>Contact</h3>
      <p>感想・お仕事のご依頼などは、Googleフォームからお送りください。</p>
    </a>

    <a href="/search/" class="nav-card">
        <h3>Search</h3>
        <p>どこかでみた名前を打つと...</p>
      </a>
      
  </section>

</main>
{{ end }}
