
{{ define "main" }}
<div class="author-container">
  <div class="author-profile">
    <img src="/img/author.png" alt="Author Image" class="author-image">
    <div class="author-info">
      <h2 class="author-name">Shun Tonegawa</h2>
      <p class="author-handle">hōgusu</p>
      <p class="author-link">Always, chill out. <br>In the end, that’s what matters most.</p>

      <section class="author-section">
        <h3>About</h3>
        <p>
          Nostrなど分散型SNSにいます。<br>
          GIMPでアイコンや壁紙を自作するのが得意です。
        </p>
      </section>

      <section class="author-section">
        <h3>Skills / Tools</h3>
        <ul>
          <li>GIMP</li>
          <li>Apple M1 Pro MacBook Pro</li>
          <li>Google Pixel 9a</li>
        </ul>
      </section>
      <section class="author-section">
        <h3>Favorite</h3>
        <p>
          ・ベース<br>
          ・アイマス<br>
          ・ゴッドイーター<br>
          ・ラジオ<br>
          ・遮音性の高いイヤホン
        </p>
      </section>
      <section class="author-section">
        <h3>Note</h3>
        <p>
          暇になったら赴くままに遊ぶようにモノを作っています。<br>
          作って欲しいものがあったらなんでも言ってね。<br>
          <a href="mailto:jardsocial@proton.me">Mail</a>
        </p>
      </section>
    </div>
  </div>
</div>
{{ end }}
