{{ define "main" }}
<section class="links-section">
  <h1>Links</h1>
  <p class="links-desc">私に関連するリンクと、個人的にお気に入りのサイト集です。</p>

  <div class="links-category">
    <h2>自分のリンク</h2>
    <div class="links-grid">
      <div class="link-card">
        <a href="https://njump.me/npub1dq5h82ehsxjppgf4tgm56cxngzcangfxzjv44d3y6numweqn6cesu40qak" target="_blank" rel="noopener noreferrer">
          <h3>Nostr</h3>
          <p>基本ここにいます</p>
        </a>
      </div>
    </div>
    <div class="links-grid">
      <div class="link-card">
        <a href="https://concrnt.world/ffnet.work" target="_blank" rel="noopener noreferrer">
          <h3>Concrnt</h3>
          <p>アカウントを確保しているだけになっています</p>
        </a>
      </div>
    </div>
    <div class="link-card">
      <a href="https://social.vivaldi.net/@hogusource" target="_blank" rel="noopener noreferrer">
        <h3>Mastodon</h3>
        <p>特に呟くことはない</p>
      </a>
    </div>
    <div class="link-card">
      <a href="https://signal.me/#eu/m81TbpYpae9qUsL3SK2HkY9NnEzHpuBODVw3PZwdg4uHN1hupMpB4biJUwcuAI-f" target="_blank" rel="noopener noreferrer">
        <h3>Signal</h3>
        <p>メールよりもフランクに、気楽に連絡ください。</p>
      </a>
    </div>
  </div>
  
    <h2>お気に入り</h2>
    <div class="links-grid">
      <div class="link-card">
        <a href="https://bumpofchicken.com/" target="_blank" rel="noopener noreferrer">
          <h3>BUMP OF CHICKEN official website</h3>
          <p>一番最初に熱狂的にハマったバンド、おすすめは「Gravity」</p>
        </a>
      </div>

      <div class="link-card">
        <a href="https://tacica.jp/" target="_blank" rel="noopener noreferrer">
          <h3>tacica official site</h3>
          <p>詩と音に魅了されます、おすすめは「デッドエンド」</p>
        </a>
      </div>

      <div class="link-card">
        <a href="https://www.galileogalilei.jp" target="_blank" rel="noopener noreferrer">
          <h3>Galileo Galilei | GG Friends</h3>
          <p>彼にしか描けない世界に没頭せよ、おすすめは「ブギーマン」</p>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
