<aside class="sidebar">
  <div class="logo">
    <h2><a href="/">hogusource codes</a></h2>
  </div>

  <nav class="nav">
    <a href="/">Home</a>
    <a href="/article/">Article</a>
    <a href="/works/">Works</a>
    <a href="/links/">Links</a>
    <a href="/author/">Author</a>
    <a href="/contact/">Contact</a>
    <a href="/index.xml" target="_blank" rel="noopener">RSS</a>
  </nav>

  <footer class="footer-sidebar">
    <p>&copy; {{ now.Format "2006" }} hogusource. All rights reserved.</p>
  </footer>
</aside>
